<header>
    <div class="headerwrapper">



      <div class="d-sm-none">
        <div class="header-left">
             
                <button style="background-color: #1f6b9e;" type="button" id="sidebarCollapse" class="btn btn-info" (click)="clickMenu()">
              <i class="fas fa-align-left"></i>
              <span>Menu</span>
          </button>  
          
         
          </div>

       
        </div>
       <div class="header-right">
          
        <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{idioma}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="useLanguage('es')">Español</button>
                <button ngbDropdownItem (click)="useLanguage('en')">English</button>
            
              </div>
            </div>
        </div>
        </div>
        <!-- header-right -->
    
    <!-- headerwrapper -->
    </div>
</header>
