<header>
    <div class="headerwrapper">
        <div class="header-left">
             
                <button style="background-color: #1f6b9e;" type="button" id="sidebarCollapse" class="btn btn-info" (click)="clickMenu()">
              <i class="fas fa-align-left"></i>
              <span>Menu</span>
          </button>          
       
        </div>
    <!--     <div class="header-right">
            <a class="btn btn-social-icon btn-github hidden-sm-down" href="https://github.com/ssunils/angularadmin" target="_blank"><i class="fa fa-github"></i> DOWNLOAD</a>
        </div> -->
        <!-- header-right -->
    </div><!-- headerwrapper -->
</header>
